/* 取消banner背景 */
#page-header.not-top-img #nav {
  /* 采用透明的方式取消，最后一个0表示透明 */
  background: 0;
  background-color: rgba(210, 230, 255, 0.9);
  box-shadow: none;
}

.layout {
  opacity: 0.9;
}

/* 改变footer的背景和字体颜色 */
#footer {
  background: none;
}
